server {
    listen ${PORT};
    server_name _;
    root /usr/share/nginx/html;
    index index.html;

    location /config.js {
        alias /etc/nginx/conf.d/config.js;
    }

    location / {
        try_files $uri $uri/ /index.html;
    }
}
