server {
    listen ${PORT};
    server_name _;
    root /usr/share/nginx/html;
    index index.html;

    location / {
        try_files $uri $uri/ /index.html;

        sub_filter '</body>' '<script>window.__API_BASE__="${API_URL}";</script></body>';
        sub_filter_once on;
        sub_filter_types text/html;
    }
}
